body {
  background-color: #282c34;
}
header1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-between;
background: #ff00008a;
padding: 10px 20px;
}
h1{
  margin-right: 44px;
}
.sign-out {
  padding: 0px 36px;
  margin: 0px;
  border-radius: 11px;
  background-color: #3f51b5;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

.App {
  
  max-width: 100%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  border-radius: 8px;
  background: rgb(246, 246, 247);
  }
  
  main1{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  }

.message.received {
  display: flex;
  flex-direction: row;
  width: 70%;
        
  border-radius: 10px;
  }
        
  .message.received img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          align-items: center;
        
        }
.message.received p { 
  margin-left: 10px;
  font-size: 15px;
  }      
      
.message.sent {
display: flex;
flex-direction: row-reverse;
 width: 100%;
 border-radius: 10px;
}
        
.message.sent img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;

}        
.message.sent p {
  margin-right: 10px;
  font-size: 15px;
        }
    
        form {
          height: 8vh;
          
          background-color: rgb(24, 23, 23);
          width: 100%;
          max-width: 728px;
          display: flex;
          font-size: 1.5rem;
        }
           
    form button {
      width: 20%;
      background-color: #3f51b5;
      color: #ffffff;
      font-size: 25px;
    }
    
    
    input {
      line-height: 1.5;
      width: 100%;
      font-size: 1.5rem;
      
      color: #000000;
      outline: none;
      border: none;
      padding: 0 10px;
    }

    .sign-in {
      padding: 16px 36px;
    margin: 0px;
    border-radius: 11px;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    border: 0px;
    background: transparent;
    text-align: center;
    width: 100%;
      cursor: pointer;
      
    }

  
    .sign-in :hover{
      color: #3f51b5;
    }